/* shared font */
/*  font for titles  */
.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* font for descriptions */
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}


/* shared css */
.cmn-margin{
    max-width: 1140px;
    margin: 120px auto;
}

.cmn-orange{
   
    font-weight: bold;
    color:#E95A08 ;
    
}
.cmn-title{
    
    font-weight: bold;
    color:#000000 ;
}

.cmn-description{
    font-size: 1.375rem;
    color: rgba(0, 0, 0, 0.5);
}


.cmn-btn{
    color:#FFFFFF;
    font-size: 1rem;
    font-weight: 600;
    background-color: #E95A08;
    border: none;
    padding: 20px 80px;
   
}


/* navbar */

.navbar {
     display: flex;
     align-items: center;
     justify-content: space-between;
     background: transparent;
     padding: 24px 60px 0 60px;
     box-sizing: border-box;

}
.nav-items-bar {
    display: flex;
    align-items: center;
}
.navbar-logo{
    height: 70px;
    width: auto;


}
/* .nav-right{
    display: flex;
    align-items: center;
    gap: 40px;
} */
.nav-items{
    display: flex;
    gap: 40px;
    list-style: none;
    margin: 0;
    padding: 0 ;
    /* margin-left: auto; */
}

.cart-wrapper{
    display: flex;
    align-items: center;
    gap: 8px;

}

.cart-wrapper .cart-icon {
    width: 24px;
    height: 24px;
    object-fit: contain;
       font-weight: bold;  
        stroke-width: 3px;
         color: #181A20;     
}
.cart-wrapper .cart-text {
    color: #000000;
    font-size: 16px;
    font-weight: 500;
}
.nav-items li{
    color: #8987A1;
    font-size:18px ;
    font-weight: 500;


}
.nav-items li.active {
    color:#252432;
    font-weight: bold;

}
.nav-items li:hover{
    color: #181A20; 
}
.cart-icon{
    width: 24px;
    height: 24px;
    object-fit: contain;

}

.cart-text{
    color: #000000;
    font-size: 16px;
    font-weight: 500;
}

/* responsive for mobile navbar section */
@media screen and  (max-width: 576px )  {
    .active,.shop{
        display: none;
    }


}


/* banner 252432 */

.banner{
    display:flex ;
    justify-content: space-evenly;
    align-items: center;
    padding:  20px;
    margin: 0 auto;
    
}

.banner-title{
  color: #000000;
  font-size: 4.0625rem;
  font-weight: bold;
  margin: 0;

}

.banner-description{
    color: rgba(0, 0, 0, 0.5);
    font-size:1.375rem ;
    padding: 0;
    margin: 0;
}

/* responsive for mobile banner section */
@media screen and  (max-width: 576px )  {
.banner{
    flex-direction: column-reverse;  
}
}


/* plants */
.our-Plants{
    margin: 0 auto;
    /* padding: 20px; */
     margin-bottom: 60px;
}
.plant-content{
    text-align: center;
}

.plant-title{
    font-size: 3.125rem;
    margin: 0 ;
   
}

/*  plant card container */
.plant-card-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px 20px;
    /*  row-gap: 25px;
    column-gap: 0.25px; */
    /* gap: 5px; */
    /* margin: 0 auto; */

}
.plant-card{
   text-align: center;

}
.plant-img-title{
     
    font-size: 1.375rem;
    font-weight: 200;
    color: #111111;
     padding: 0;
   

}
.plant-price{
      font-size: 1.375rem;
    font-weight: bold;
    color: #111111;

}
/* responsive for mobile plant-img container section */
@media screen and  (max-width: 576px )  {
 .plant-card-container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 15px; 
    margin: 0 ;
    padding: 0 ;
    width: 100vw; 
    box-sizing: border-box;
  }

  .plant-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

/* plants lover section */
.Plants{
    /* margin: 0 auto;
    padding: 20px;
     margin-top: 60px;
     margin-bottom: 60px; */
     
}

.plants-lover{
    display: flex;
    justify-content: space-evenly;
    gap: 60px;
    
}
.plants-lover-container{
    position: relative;
    margin: 40px 0;
}
 .trusted-logo-wrapper{
    position: absolute;
    top: -25%;
    left: -40%;
} 
 .trusted-logo {
  width: 32%;
} 
.plants-lover-title{
    font-size: 3.125rem;
    margin: 0 auto;
}
.plants-lover-description{
font-size: 1.375rem;

}

/*  responsive for the plant-lover section */

@media screen and (max-width:576px) {
    .plants-lover{
        flex-direction: column;
    }
    
}
/* latest deals  section */

.deals-container{
     text-align: center;
     margin-top: 50px;
}
.deals-title{
    font-size: 3.125rem;
    margin: 0 auto;
    padding: 0;

}
.deals-description{
    font-size: 1.375rem;

}
.deals-img-container{
    display: grid;
    grid-template-columns: 320px 1fr;
    gap: 32px;
    margin: 40px auto 0 auto;
    max-width: 1200px;
    align-items: stretch;

}

.deals-img-left{
        display: flex;
        flex-direction: column;
        gap: 24px;

}

.deal-card{
    position: relative;
    overflow: hidden;
    border-radius: 16px ;


}
.deal-card.small img { 
     width: 100%;
     height: 160px;
     object-fit: cover;
     display:block;
            
}
.deal-card.large img{
    width: 100%;
    height: 350px;
    object-fit: cover;
    display: block;


}
.deal-overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 24px;
  background: linear-gradient(180deg,rgba(0,0,0,0.15) 0%,rgba(0,0,0,0.45) 100%);
}

.deal-card.large .deal-overlay{
    justify-content: center;
    align-items: center;
    text-align: center;

}
.deal-card.small .deal-overlay{
    justify-content: center;
    align-items: center;
    text-align: center;

}

.deal-discount{
    color: #FFFFFF;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 2px ;
      text-shadow: 0 2px 8px rgba(0,0,0,0.25);

}

.deal-btn{
    background: none;
   border: none;
   text-decoration: underline;
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 6px 18px;
    cursor: pointer;
    /* margin-top: 6px; */
      transition: background 0.2s, color 0.2s;

}
.deal-discount-small{
    font-size: 1.25rem;
    font-weight: bold;
    color: #FFFFFF;

}
.deal-btn-small{
     background: none;
    border: none;
    text-decoration:underline ;
    color: #FFFFFF;
    font-size:1rem ;
    font-weight: 500;
    padding: 3px 10px ;
     cursor: pointer;
    /* margin-top: 6px; */
      transition: background 0.2s, color 0.2s;

}

.deal-btn:hover {
  background: #fff;
  color: #E95A08;
}
.deal-btn-small:hover {
  background: #fff;
  color: #E95A08;
}

/*  responsive for the  latest deals section */
@media screen and (max-width:576px) {
.deals-img-container,.deals-img-left{
    flex-direction: column;
}
    
}


/* join section */
.join{
            background-image:url("../assets/news-letter-bg.png") ;   
            /* width: 100%;
            height: 100vh; */
            background-size: cover;
            background-position: center;     
              margin-top: 60px;    
           padding: 200px 400px;
            
}
.join-content{
    /* justify-content: space-around; */
   display: flex;
      flex-direction: column;
        align-items: center;
        gap: 23px;
        margin: 0 auto;


}

.join-title{
     font-size: 3.125rem;
     font-weight: bold;
     color: #FFFFFF;
    margin: 0;

}
.form-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.join-input{
    border: none;
    padding: 20px 500px  20px 20px  ;
    /* padding: 22px 540px 16px 1px; */
    font-size: 1rem;
    outline: none;

}


@media screen and (max-width:576px){
    .join{
        background-size: contain;
        background-repeat: no-repeat;
    }
    .join-input{
    padding: 20px 80px  20px 20px ;
}
}


/*  footer  */

.footer-margin{
    max-width: 1140px;
    margin: 50px auto;
}
.footer-section {
  background-color: rgba(255, 255, 255, 0.5);
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 100px;;
 
}
.footer-description {
  color: #6b6c80;
  font-size: 20px;
  margin: 0;
}
.footer-links-container ul{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 25px;
    column-gap: 100px;
}
.footer-links-container ul{
    list-style: none;
    color: #;
}

